<h3>Welcome</h3>
<p>This Angular app is an example solution for</p>
<p>BTI425 <a href="https://bti425.ca/graded-work/assign2" target="_blank">Assignment 2 </a>in Winter 2019.</p>

<p>This current version of the app enables the user to work with ALL students.</p>
<button type="button" class="btn btn-primary" routerLink="/students">Students list</button>
<p>A future version will require the user to login as a specific student.</p>
<button type="button" class="btn btn-primary" disabled>Login</button>